#pragma once
#include <stdint.h>

namespace secrets
{
    const char *WIFI_SSID = "SSID";
    const char *WIFI_PWD = "PASSWORD";

    const char *MQTT_IP = "BROKER_IP";
    const uint16_t MQTT_PORT = BROKER_PORT;
};