#pragma once
#include <stdint.h>

namespace secrets
{
    const char *WiFiSSID = "SSID";
    const char *WiFiPassword = "PASSWORD";

    const char *MQTTBroker = "BROKER_IP";
    const uint16_t MQTTPort = BROKER_PORT;
};